html {
	width: 100%;
	height: 100%;
	text-align: center;
}

header {
	font-size: 2.5em;
	border: 2px solid black;
	padding: 20px;
	font-family: "Roboto" sans-serif;
	margin: 10 auto;
}

.grids{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 4px;
	width: 100%;
	height: 22%;
}

.names {
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
	margin: 0 13px;
	padding: 4px 4px 4px 4px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 200px);
	margin: 15px;
}

.operator {
	font-size: 45px;
	padding: 35px;
	margin: 15px;
}

input[type="text"] {
	font-size: 1.45em;
}

.whole {
	width: 80%;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 80px;
}

.hello {
	font-size: 30px;
	margin: auto;
}